@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="text-xl display-4">Welcome to Trà Nghé Drinks & Beverage Ordering App</h1>
    <a class="btn btn-info w-40" style="font-size: 50px;" href="@Url.Action("Login", "Account")">Get started</a>
</div>
